<html lang="en">
  <head>
    {{ partial "head.html" . }}

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 my-3 mx-auto flex-column">

      {{ partial "header.html" . }}
      <main role="main" class="my-5 inner cover">
        <h2 class="my-4 cover-heading">Cardano Stake Pool + Social Impact</h2>
        <p class="lead">We run a Cardano Stake Pool and Invest in Social Impact Ventures in Developing Countries.</p>


      </main>

 

      <footer class="mastfoot mt-auto my-4">
        {{ partial "footer.html" . }}
      </footer>
    </div>




</body>

</html>
