<html lang="en">
  <head>
    {{ partial "head.html" . }}

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 my-3 mx-auto flex-column">

      {{ partial "header.html" . }}
      <main role="main" class="my-5 inner cover">
        <h2 class="my-4 cover-heading">Cardano Stake Pool + Social Impact</h2>
        <p class="lead">The stake pool that invests in social impact ventures.</p>


        <div>
          <iframe width="500" height="360" frameborder="0" src="https://js.adapools.org/widget-dark.html?pool=751e953f613397dfc43f803681994637d07ade7ec85e9bff1d95afcf"><a href="https://adapools.org/pool/751e953f613397dfc43f803681994637d07ade7ec85e9bff1d95afcf">Detail</a></iframe>
        </div>
      </main>


 

      <footer class="mastfoot mt-auto my-4">
        {{ partial "footer.html" . }}
      </footer>
    </div>




</body>

</html>
