<html lang="en">
  <head>
    {{ partial "head.html" . }}

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 my-3 mx-auto flex-column">

      {{ partial "header.html" . }}
      <main role="main" class="my-5 inner cover">


     
        <h2 class="my-4 cover-heading">Cardano Stake Pool + Social Impact</h2>
        <p class="lead">The pool that invests in social impact ventures.</p>
        <bold><small>hi@adaso.org | <a href="https://www.twitter.com/adasopool" target="_blank">twitter</a></small></bold>
        
        <div class="my-5">
          <iframe width="500" height="360" frameborder="0" src="https://js.adapools.org/widget-dark.html?pool=751e953f613397dfc43f803681994637d07ade7ec85e9bff1d95afcf"><a href="https://adapools.org/pool/751e953f613397dfc43f803681994637d07ade7ec85e9bff1d95afcf">Detail</a></iframe>
        </div>


<hr>
        <div class="my-5">
          <h4>Who is behind this pool?</h4>
          <p>A family of three. A software engineer (me), and electrical engineer (my wife) and our 2 year old daughter. We are putting a <u>significant</u> amount of our savings into Cardano, because we believe in the mission, think it will be a force for good and a good return on investment. 
          As immigrants to the US from a developing country, we want to give back part of our earnings to social impact ventures (see below) in the developing world.</p>
        </div>

<hr>
        <div class="my-5">
          <h4>Why invest in this pool?</h4>
          <p>We plan on running this pool for looooong time. Cardano relies on and incentivizes small pools to increase decentralization. We're doing our part. Once we start minting blocks, we plan on financing small social impact companies in the developing world. We have financed such companies on a personal level in the past. </p>
        </div>


<hr>
        <div class="my-5">
          <h4>What are social impact ventures and how will you invest in them?</h4>
          <p>Social impact businesses balance profits with purpose. Their guiding principle is two-fold: keep the company profitable <i>and</i> create their stated impact. This structure allows them to pursue impact with the same fervor as profits, which, in certain contexts is absolutely essential to the local ecosystem. Some examples can be found <b><a href="https://www.howwemadeitinafrica.com/six-african-social-enterprises-that-had-people-talking-in-2019/64020/" target="_blank">here</a></b>.</p>
        </div>

<hr>

        <div class="my-5">
          <h4>Why is your pledge so low?</h4>
          <p>We are increasing our pledge significantly in March 2021 (assuming ADA doesn't go to $100 :D). We've saved up and currently awaiting verification from Kraken. I didn't want to wait for that to get the pool running. </p>
          </p>
        </div>

<hr>

        <div class="my-5">
          <h4>How can we communicate with you?</h4>
          <p>All announcements will done on <a href="{{ .Site.Params.Social.Twitter.Link }}" target="_blank">Twitter</a>. We'll also start a Telegram group if there is enough interest. Please feel free to email or tweet us with questions, concerns, suggestions etc.</p>
          </p>
        </div>

      </main>


 

      <footer class="mastfoot mt-auto my-4">
        {{ partial "footer.html" . }}
      </footer>
    </div>




</body>

</html>
